.git
.gitignore
.bundle
vendor/bundle
*.gem
.env
.env.local
coverage/
.rspec
.rspec_status
spec/tmp/
doc/
.yardoc/
.vscode/
.idea/
*.swp
*.swo
node_modules/
.DS_Store
Makefile
*.md
spec/
.gitlab-ci.yml
.github/
.editorconfig
